{
  "extends": ["airbnb", "prettier"],
  "parserOptions": {
    "ecmaVersion": 8
  },
  "env": {
    "browser": true
  },
  "globals": {
    "Book": true,
    "pl": true
  },
  "rules": { "dot-notation": "warn" }
}
